<div class = "card card-truth">
	<h2 class = "heading">Truth</h2>
	<p class = "highlight">When viewing the Marina Bay Sands building from the right angle, it looks like a massive phallus.</p>
	<div class = "desc">
		<p>Donec pulvinar dignissim justo quis mattis. Integer ac placerat elit. Donec et dolor porttitor, vestibulum ante quis, rhoncus nisl.</p>

		<p>Vestibulum facilisis semper sem ut elementum.</p>
	</div>

	<div class = "quick-profile">
		<span class = "title">Secret by</span>

		<div class = "thumbnail">
			<img src = "img/thumbnail.jpg" alt = ""/>
		</div>

		<div class = "name"></div>
		<div class = "status">Current Oracle <img src = "img/oracle-secret-page.png" class = "icon icon-oracle"/></div>

	</div>
</div>