<div class = "image">
	<img src = "/img/<%= secret.ImageURL %>.jpg"/>
</div>

<div class = "card card-false">
	<h2 class = "heading">Sah Lah!(Oops!)</h2>
	<p class = "highlight"><%= secret.Title %></p>

	<div class = "conclusion">- This is made up</div>

	<div class = "statistic">
		<span class = "percent"><%= per %>%</span>
		<span>also got this wrong!</span>
		<span><strong>Wah lao eh!</strong></p>
	</div>


	<div class = "quick-share">
		<a href = "#">
			<i class = "icon icon-share"></i>
			<span class = "text">Share</span>
		</a>
	</div>
</div>